body {
	background: #1da1f2;
	color: #fff;
}

h2 {
	font-size: 24px;
	margin-top: 80px;
	margin-bottom: 30px;
}

.animation {
	transition: opacity 0.2s ease-in-out;
}

.loading {
	animation: 0.2s ease-in-out 0s alternate none infinite progress-bar-stripes;
	-webkit-animation: progress-bar-stripes 0.2s ease-in-out infinite alternate;
}

@-webkit-keyframes progress-bar-stripes { from { opacity: 1 } to { opacity: 0.5; } }
@-o-keyframes progress-bar-stripes {      from { opacity: 1 } to { opacity: 0.5; } }
@keyframes progress-bar-stripes {         from { opacity: 1 } to { opacity: 0.5; } }

.image {
	text-align: center;
	margin-bottom: 20px;
}

	.image img {
		cursor: pointer;
		box-shadow: 0 0 8px rgba(0,0,0,0.5);
		margin-bottom: 5px;
	}

.mark {
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	font-size: 24px;
	color: rgba(0,0,0,0.3);
	text-align: center;
	z-index: 1000;
}

.mark.success {
	background-color: #00df44;
}
.mark.error {
	background-color: #f81f2e;
}